/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


h1 {
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 71px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

div#maintext{
   
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url('assets/04-BG.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
}
div#topo{  
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(157, 218, 218);
    
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset{
    border: none;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 350px;
    height: 350px;
}

input#name,#email{
    font-family: 'Open-Sans';
    font-size: 18px;
    font-style: normal;
    padding: 8px;
    margin-bottom: 20px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
}
textarea{
    font-family: 'Open-Sans';
    font-size: 18px;
    padding: 8px;
    margin-bottom: 20px;
    width: 350px;
    height: 100px;
    border-radius: 5px;
}
input#send{
    font-family: 'Open-Sans';
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color:white;
    background-color: rgb(107, 177, 177);
    width: 370px;
    height: 40px;
    border-radius: 5px; 
}