/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


h1 {
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 71px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

div#maintext{
    
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url('assets/04-BG.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
}
div#topo{  
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(157, 218, 218);
    
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



div#formulario{

}